@tailwind base;
@tailwind components;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --header-height: 100px;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #fbf0e2;
  color: black;
}

.cta-btn{
  @apply flex items-center justify-center min-w-28 h-10 rounded-md px-5 py-2 bg-primary-orange text-white font-medium text-sm hover:opacity-90 hover:shadow;
}

.hero-img-container{
  height: 400px;
  width: 80%;
  background-color: #eee;
  background-image: url("../img/hero-img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

.dots-illustration{
  position: absolute;
  left: 0;
  top: 20%;
  height: 70%;
  width: 10%;
  background-image: url("../img/dots.png");
  background-repeat: space;
  background-size: 95%;
  z-index: 20;
}

.children-section{
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    -webkit-box-align: start;
    padding: 30px 20px;
    height: 60vh;
    min-height: 100%;
    width: 100%;
    background-image: url("../img/hero-img-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.curved-section{
  min-width: 100%;
  min-height: 300px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI0OTciIHZpZXdCb3g9IjAgMCAxNDQwIDQ5NyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNDc5MjE4IDBDMC40NzkyMTggMCAzMTQuNTQxIDkwLjMyNTYgNzE5Ljk4NiA5Ni4wMjRDMTEyNS40MyAxMDEuNzIyIDE0NDAuNDggMCAxNDQwLjQ4IDBWNDk2LjU4M0gwLjQ3OTIxOFYwWiIgZmlsbD0iIzk4NjYzOSIvPgo8L3N2Zz4K");
  background-size: cover;
  background-repeat: no-repeat;
}

.iframe-container{ 
  background-color: #eee;
  min-height: calc(100dvh - (190px));
  min-width: 100%;
  animation: loading 1.5s infinite; 
  -webkit-animation: loading 1.5s infinite;
}

.iframe-container iframe{
  height: calc(100dvh - (190px));
  width: 100%;
}

/* Skelton loader */
.skeleton {
  background-color: #eee;
  border-radius: 4px;
  margin: 10px 0;
  animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
}

/* Animation for skeleton */
@keyframes loading {
  0% {
      background-color: #eee;
  }

  50% {
      background-color: #ddd;
  }

  100% {
      background-color: #eee;
  }
}


@tailwind utilities;
